<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AlertX - About Us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> 
    <link href="/stylesheets/custom.css" rel="stylesheet">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/alertx">AlertX</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/alertx">Home</a>
                    <a class="nav-link" href="/alertx/products">Find a Product</a>
                    <a class="nav-link" href="/alertx/about-us">About Us</a>
                </div>
            </div>
        </div>
    </nav>
    
    <div class="row">
	    <div class="value-prop col align-self-start text-center fs-2 lh-lg lead shadow-lg p-3 mb-5 bg-body rounded">
		    About Us...
        </div>
    </div>
       
    <div class="row">
	    <div class= "alertx-intro col align-self-center border border-4 border-secondary fs-4 lh-lg">
		    We, the creators of AlertX, are a group of students studying Computer Science at Northern Arizona University. 
		    All of us wanted to create this website in order to give that fighting chance to consumers. Based off the well-known
		    limited supply of graphic chips, we aimed to provide our potential users with a free way to obtain products like this 
		    or whatever products they desire. We are continuously working on updates to ensure our users deal with a clean, 
		    hassle-free interface. Products are being created and updated everyday, we are positive you will obtain what you desire!
	    </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
